extends layout

block content
	h1 #{ranking.title}
	form(method='post', action='/rankings/#{ranking._id}/addItem')
		.input-group
			input.form-control(type='text', placeholder='', name='content')
			span.input-group-btn
				input.btn.btn-success(type='submit', value='Add Name')  
	ul 
		each item in ranking.entries
			li=item.title
				form(action='/rankings/#{ranking._id}/removeItem', method='post')
					input(type="hidden",value=item._id,name="itemId")
					input.btn.btn-success(type='submit',value='Delete',onclick="return deleteConfirm()")
	