extends layout

block content
	h1 #{ranking.title}
	form(method='post', action='/rankings/#{ranking._id}/addItem')
		div.form-group
			label(for="Name") Name:
			input#title.form-control(type='text', placeholder=' Name', name='content')
		div.form-group
			label(for="Notes") Notes:
			input#notes.form-control(type='textarea', placeholder=' Notes', name='notes',required='false')
		div.form-group
			label(for="Rank") Rank:
			input#notes.form-control(type='textarea', placeholder=' Rank', name='rank',required='false')
		span.input-group-btn()
			input.btn.btn-success#newItem(type='submit', value='Add To Your List')
	ol 
		each item in ranking.entries
			li #{item.title}
				p #{item.notes}
				form(action='/rankings/#{ranking._id}/removeItem', method='post')
					input(type="hidden",value=item._id,name="itemId")
					input.btn.btn-success(type='submit',value='Delete',onClick="return deleteConfirm()")
					a(href='/rankings/#{ranking._id}/editItemPage/#{item._id}') EDIT

			
	